body {
	background:#A79882;
	color: #000000;
	font-family: 'Gill Sans', Arial, sans-serif;
	font-size: 12px;
}

a:link, a:visited {
	text-decoration: underline;
	color: #555555;
}
 
a:hover {
	color: #111111;
	text-decoration: none;
}