<!-- 
	 BODY		{background:#A79882;
			color: #000000;
			font-family: 'Gill Sans', Arial, sans-serif;
			font-size: 12px;
			scrollbar-arrow-color:#FFFFFF;
			scrollbar-track-color:#A79882;
			scrollbar-shadow-color:#A79882;
			scrollbar-face-color: #776852;
			scrollbar-highlight-color:#B7A892;
			scrollbar-darkshadow-color:#877862;
			scrollbar-3dlight-color:#B7A892}

	a:link, a:visited	{text-decoration: underline;color: #555555}
 
	a:hover		{color: #111111; text-decoration: none}

-->
