/* ----------------------------- BASE STYLES ----------------------------- */

body {
  padding: 0;
	margin: 0;
  background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
  text-align: justify ;
}

.wrapper {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
  width: 100%;
}

img {
	max-width: 100%;
  max-height: 100%;
}

a:link {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
	color: #111111;
	text-decoration: none;
}

h1 {
  font-size: 1.5em;
}

 li {
  list-style-type: none;
}

/* ----------------------------- HEADER STYLES ----------------------------- */

header {
	display: flex;
	flex-flow: column wrap;
  align-items: center;
  width:100%;
}

nav {
  /* background-color: #eee; */
  margin:0;
  display: flex;
  width: 262px;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

nav h3 {
  margin:0;
  padding: 3% 6% 6% 6%;
}

/* ----------------------------- MEMBERS STYLES ----------------------------- */

.members {
  background-color: rgba(0, 10, 50, .7);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	color: #eee;
	height: 4%;
	width: 95%;
  /* padding: 0; */

}

.members div {
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

/* ----------------------------- NEWS STYLES ----------------------------- */

#news {
  width: 95%;
  margin: 2% 2% 0 2%;
  display: flex;
  flex-flow: column nowrap;
}

#news div {
  background-color: #444;
  color: #eee;
  padding: 1% 4%;
  border-top: 2% solid #eee;
  border-bottom: 3px solid #eee;
}

#news a:link,a:visited {
  color: #aaa
}

#news h2 {
  text-align: center;
}

#news h3 {
  font-size: .75em;
}

/* ----------------------------- SIGHTS STYLES ----------------------------- */

.sights {
  margin: 0;
  padding: 0;
  width: 95%;
  background-color: #717171;
}

.sights h1 {
  margin: 0;
  text-align: center;
  margin: 10%;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 650px;
  position: relative;
  margin: auto;
  margin-bottom: 25%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ----------------------------- SOUNDS STYLES ----------------------------- */

#sounds {
  width: 95%;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-basis: 100%;
}

#sounds div {
  width: 100%;
  background-color: rgba(0, 10, 50, .7);
  color: #eee;
  padding: 5%;
}
/* #sounds h2 {
 text-align: center;
} */

#sounds a:link {
  color: #fff;
}

#sounds ul {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

/* ----------------------------- MERCH STYLES ----------------------------- */

#merch {
  width: 95%;
}

#merch section {
  background-color: #444;
  color: #eee;
  padding: 1% 4%;
  border-top: 2% solid #eee;
  border-bottom: 3px solid #eee;
  display: flex;
  flex-flow: column nowrap;
}

.merch-new-cd {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

#merch img {
  float: left;
  margin-right: 10px;
}

#merch h2 {
  text-align: center;
  word-wrap: normal;
}

#merch a:link {
  color: #fff;
  font-weight: bold;
}

#merch li {
  list-style-type: decimal-leading-zero ;
}

/* ----------------------------- FOOTER STYLES ----------------------------- */

.footer h1 {
  margin: 10;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 15px 0 15px 0;
}

.footer h1 {
  text-align: center;
}

/* ----------------------------- BREAKPOINTS ----------------------------- */

@media (min-width: 600px) and (max-width: 899px)  {
	body {
		font-size: 1em;
	}
  nav {
    width: 100%;
  }
	h1 {
		font-size: 1.75em;
	}
  .merch-new-cd {
    justify-content: space-around;
  }
  .sights h1 {
    margin: 5%;
  }
  .slideshow-container {
    margin-bottom: 5%;
  }
}

@media (min-width: 900px) and (max-width: 1199px)  {
	body {
		font-size: 1em;
	}
  nav {
    width: 100%;
  }
	h1 {
		font-size: 1.75em;
	}
  .members {
    flex-flow: row nowrap;
    color: #eee;
  }
  .members div {
    width: 25%;
    height: 10em;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
  }
  #news {
    width: 95%;
    margin: 2% 2% 0 2%;
    display: flex;
    flex-flow: row wrap;

  }
    #news div {
    flex-basis: 33%;
    background-color: #444;
    color: #eee;
    padding: 1% 1%;
    border-left: 2% solid #eee;
    margin-right: 3px solid #eee;
    flex-grow: 2;
  }
  .sights h1 {
    margin: 5%;
  }
  .slideshow-container {
    margin-bottom: 5%;
  }
}

@media (min-width: 1200px)  {
	body {
		font-size: 1em;
	}
  nav {
    width: 100%;
  }
	h1 {
		font-size: 3em;
	}
  h3 {
    font-size: 3em;
  }
  .members {
    flex-flow: row nowrap;
    color: #eee;
  }
  .members div {
    width: 25%;
    height: 10em;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
  #news {
    width: 95%;
    margin: 2% 2% 0 2%;
    display: flex;
    flex-flow: row wrap;
  }
  #news div {
    flex-basis: 33%;
    background-color: #444;
    color: #eee;
    padding: 1% 1%;
    border-left: 2% solid #eee;
    border-right: 3px solid #eee;
    flex-grow: 2;
  }
  .sights h1 {
    margin: 5%;
  }
  .slideshow-container {
    margin-bottom: 5%;
  }
}